@import "../../styles/main-style.scss";

$min-width-landscape: 60vw;

@mixin card-container {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin: 5px;
  color: white;
  box-shadow: 1px 5px 60px 0px #9b9b9b6b;
  border-radius: 15px;
  background: $castel-linear;
  border: none;
  cursor: pointer;
}

.cardBasicContainerLandscape {
  @include card-container;
  align-items: center;
  flex-direction: row;
  min-width: $min-width-landscape;
}

.cardBasicContainerPortrait {
  @include card-container;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  background: rgb(248, 248, 248);
  color: black;
  border: none;
  margin: 20px;
  &:hover {
    transform: scale(1.05);
  }
}
